
body{
    margin: 0;
    background-image: url("../images/just-waves.png")
}
header{
    background-color: hsl(0, 0%, 100%);
    border-color: #cccccc;

    border-bottom: 1px solid #cccccc;
    padding: 40px;
}
#about_link:link{

    position: relative;
        padding: 20px;
        top: -37px;
        float: right;
        color:grey;
        text-decoration: none;
    }
#portfolio_link:link{
    position: relative;
    padding: 20px;
    top: -37px;
    float: right;
    color: grey;
    text-decoration: none;
}

#contact_link:link{
    position: relative;
    padding: 20px;
    top: -37px;
    float: right;
    color: grey;
    text-decoration: none;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
h1{
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    display: block;
    padding: 27px;
    top: -73px;
    left: 125px;
    position: relative;
}

.wrapper{
    width: 960px;
    margin: 62px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.holder{
    padding: 219px;
    position: relative;
    top: -189px;
    right: 117px;
    margin: 22px;
    width: 646px;
    height: 300px;
}
h2 {
    position: relative;
    color: #4aaaa5;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
}
.text-block{
bottom:66px;
right:0px;
background-color: #4aaaa5;
color: white;
margin: 0px;
width: 200px;
padding-top:1px;
padding-bottom:1px;
text-align: center;
text-decoration: none;
}
.container{
    position: relative;
    margin: 40px;
    display: block;
    float:left;
}
p{
    line-height: 2;
    color: #777777;
}
#profile_pic{
    width: 200px;
    height: 100px;
    float: left;
}

footer{
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}